<template>
  <div id="input-component">
      <input 
        :type="type" 
        :placeholder="placeholder" 
        :id="id"
        v-model="value"
        ref="input"
        @blur="valuesValidation()"
        @input="valuesValidation()"
        :class="{valid: isCheckSubmit && !message, invalid: isCheckSubmit && message}"
      >
  </div>
</template>

<script src="./my-input.js"></script>

<style lang="css" src="./my-input.css"></style>