#input-component {
    width: 300px;
}

#input-component input {
    padding: 2px;
	border-radius: 10px;
	font-size: 20px;
	box-shadow: 0 0 6px rgba(0,0,0,0.6);
	background-color: #f2fce8;
}

#input-component input:focus {
	outline:none;
	background-color: white;
}

.invalid {
	border: 2px solid red;
}

.valid {
	border: 2px solid green;
}