<template>
  <div class="profile">
    <form @submit.prevent="onSubmit" class="form">
      <h2>Анкета: </h2>
      <div 
      class="field"
        v-for="field in arrayFields"
        :key="field.id" 
      >
        <my-field 
          :type="field.type"
          :id="field.id"
          :placeholder="field.placeholder"
          :index="field.index"
          @receivedData="receivedData($event)"
          :isCheckSubmit="isCheckSubmit"
          :message="field.message"
        >
        </my-field>
        <message
          :isCheckSubmit="isCheckSubmit"
          :message="field.message"
        ></message>
      </div>
      <button 
        type="submit" 
      >Отправить</button>
    </form>
  </div>
</template>

<script src="./profile.js"></script>

<style scoped lang="css" src="./profile.css"></style>
