.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    height: 540px;
	width: 550px;
	background-color: #e9f5f5;
    border-radius: 14px;
    border: solid transparent;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form  .field {
    width: 100%;
}

.form button {
    align-self: flex-end;
    margin-right: 10px;
	border-radius: 10px;
	font-size: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	margin-top: 50px;
}

.form button:focus {
	color: red;
	outline:none;
}

.form h2 {
    text-align: center;
}

.form .floor label {
	margin-left: 10px;
}
