<template>
  <div id="field-component">
    <label>{{placeholder}}</label>
    <my-input 
      :type="type"
      :id="id"
      :placeholder="placeholder"
      @textValue="sendDate($event)"
      :isCheckSubmit="isCheckSubmit"
      :message="message"
    ></my-input>
  </div>
</template>

<script src="./my-field.js"></script>

<style scoped lang="css" src="./my-field.css"></style>